<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057573197918-nrtv2hv4fg57fv802iljlcdv6jphksm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057573197918-nrtv2hv4fg57fv802iljlcdv6jphksm6</string>
	<key>API_KEY</key>
	<string>AIzaSyCKzRjaFK5Ef8EdH3HUCfQq5G9UK6zqQBk</string>
	<key>GCM_SENDER_ID</key>
	<string>1057573197918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helmet</string>
	<key>PROJECT_ID</key>
	<string>smart-helmet-70b94</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-helmet-70b94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057573197918:ios:0b40fc28c1a5bcf47bfccf</string>
	<key>DATABASE_URL</key>
	<string>https://smart-helmet-70b94-default-rtdb.firebaseio.com</string>
</dict>
</plist>